@import "@/styles/variables.scss";
.about {
  :global {
    .about-wrapper {
      margin-top: -80px;

      @media (max-width: 1200px) {
        & {
          padding-top: 0px;
        }
      }
      @media (max-width: 992px) {
        & {
          padding-top: 50px;
        }
      }
      @media (max-width: 768px) {
        & {
          margin-top: -150px;
          padding-top: 0px;
        }
      }
      @media (max-width: 500px) {
        & {
          padding-top: 80px;
        }
      }
      .gift-1 {
        position: absolute;
      }
      .gift-1 {
        right: 0;
        top: 30px;
        svg {
          width: 70px;
          height: 70px;
        }
      }

      .about-content {
        @media (max-width: 768px) {
          padding-inline-end: 60px;
        }
        .row {
          align-items: center;
          justify-content: space-between;
          @media (max-width: 768px) {
            flex-direction: column-reverse;

            text-align: center;
          }
        }

        .character-img {
          max-width: 400px;
          min-height: 400px;
          @media (max-width: 1200px) {
            max-width: 300px;
            min-height: 100px;
          }
          @media (max-width: 768px) {
            & {
              max-width: 300px;
              min-height: 200px;
            }
          }
          @media (max-width: 500px) {
            & {
              margin: auto;
            }
          }

          z-index: 1;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          &:hover {
            .cloud-wrapper {
              opacity: 1;
            }
          }
          .cloud-wrapper {
            position: absolute;
            top: 10%;
            right: -150%;
            z-index: 999;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.5s ease;
            .character-info {
              text-align: center;
              z-index: 1;
              position: relative;
              .name {
                color: $blue-color;
                font-weight: 700;
                font-size: 20px;
                @media (max-width: 992px) {
                  font-size: 16px;
                }
                margin-bottom: 5px;
              }
              .role {
                color: $orange-color;
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 5px;
              }
              .characterDescription {
                color: #313131;
                font-weight: 400;
                font-size: 16px;
              }
            }
            @media (max-width: 992px) {
              & {
                top: 0%;
                right: -55%;
                svg {
                  width: 350px;
                  height: 350px;
                }
              }
            }
            @media (max-width: 768px) {
              & {
                top: 0%;
                right: -70%;
                svg {
                  width: 350px;
                  height: 350px;
                }
              }
            }
          }
        }
        .text {
          @media (max-width: 768px) {
            width: 80%;
          }
          h3 {
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 30px;
            color: #37e0d5;
            [data-theme="dark"] & {
              color: $white-color;
            }
            @media (max-width: 768px) {
              font-size: 25px;
            }
          }
          p {
            font-weight: 600;
            font-size: 20px;
            @media (max-width: 768px) {
              font-size: 16px;
            }
            color: $blue-color;
            [data-theme="dark"] & {
              color: $white-color;
            }
          }
        }
      }
    }
  }
}
