@import "@/styles/variables.scss";

.home {
  :global {
    overflow: hidden;
    background-color: $background-light;
    position: relative;
    [data-theme="dark"] & {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #08031b 100%),
        url("../assets/images/blinkingStars.webp") repeat top center;

      background-color: $background-dark;
    }
    .pathWrapper {
      position: absolute;
      width: 95%;
      height: 42%;
      right: 50%;
      transform: translatex(50%);
      top: 12%;
      z-index: 1;
      @media (max-width: 992px) {
        & {
          height: 30%;
          top: 10%;
        }
      }
      @media (max-width: 768px) {
        & {
          height: 42%;
          top: 11%;
          right: 38%;
        }
      }
      @media (max-width: 500px) {
        & {
          height: 42%;
          top: 9%;
          right: 49%;
        }
      }
      .icDesktopPath {
        height: 100%;
        width: 100%;
        @media (max-width: 768px) {
          & {
            display: none;
          }
        }
      }
      .icMobilePath {
        height: 100% !important;
        width: 100% !important;

        @media (min-width: 769px) {
          & {
            display: none;
          }
        }
      }
      .ic-ball {
        width: 50px;
        height: 50px;
      }
      .ic-gift {
        width: 120px;
        height: 120px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .ic-gift2 {
        width: 80px;
        height: 80px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .mobilePath {
    }
    .stars {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 0;

      .star {
        position: absolute;
        width: 2px;
        height: 2px;
        background: white;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}
