@import "@/styles/variables.scss";

.home {
  :global {
    width: 100%;
    height: 100%;
    background-color: $background-light;
    position: relative;
    [data-theme="dark"] & {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #08031b 100%),
        url("../assets/images/blinkingStars.webp") repeat top center;

      background-color: $background-dark;
    }
    .desktopPath {
      position: absolute;
      width: 100% !important;
      height: 42%;
      right: 50%;
      transform: translatex(50%);
      top: 12%;
      z-index: 1;
      svg {
        height: 100%;
        width: 100%;
      }
      .ic-ball {
        width: 50px;
        height: 50px;
      }
      .ic-gift {
        width: 120px;
        height: 120px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .ic-gift2 {
        width: 80px;
        height: 80px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .stars {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 0;

      .star {
        position: absolute;
        width: 2px;
        height: 2px;
        background: white;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}
