@import "@/styles/variables.scss";

.footer {
  padding-top: 20px;
  margin-top: 125px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  [data-theme="dark"] & {
    background-color: #ffffff0a;
  }
  border-top-left-radius: 800px 40px;
  border-top-right-radius: 800px 40px;

  :global {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer-logo {
      position: relative;
      width: 164px;
      aspect-ratio: 1/1;
      display: flex;
      @media only screen and (width < 1200px) {
        width: 120px;
      }
      @media only screen and (width < 992px) {
        width: 150px;
      }
      @media only screen and (width < 768px) {
        margin-bottom: 30px;
      }
    }
    .app-sections {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      a {
        transition: 0.5s ease-in-out all;
        &:hover {
          color: $primary-color;
        }
      }
    }
    .social-icons {
      display: flex;
      gap: 10px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        border-radius: 40px;
        aspect-ratio: 1/1;
        border: 1px solid $blue-color;
        transition: 0.5s ease-in-out all;
        svg {
          transition: 0.5s ease-in-out all;
          fill: $blue-color;
        }
        .social-icon {
          width: 15px;
          height: 15px;
          filter: brightness(0) saturate(100%) invert(9%) sepia(100%)
            saturate(3621%) hue-rotate(211deg) brightness(94%) contrast(91%);
        }
        img {
          object-fit: contain;
        }
        &:hover {
          background-color: $blue-color;
          svg {
            fill: #fff;
          }
        }
      }
      [data-theme="dark"] & {
        .social-icon {
          filter: brightness(0) saturate(100%) invert(100%);
        }
        a {
          border: 1px solid $text-color-2;
          svg {
            fill: #ffffff;
            //   filter: brightness(0) saturate(100%) invert(9%) sepia(100%)
            //     saturate(3621%) hue-rotate(211deg) brightness(94%) contrast(91%);
          }
          &:hover {
            background-color: #ffff;
            svg {
              fill: $blue-color;
            }
            // .social-icon {
            //   filter: brightness(0) saturate(100%) invert(9%) sepia(100%)
            //     saturate(3621%) hue-rotate(211deg) brightness(94%) contrast(91%);
            // }
          }
        }
      }
    }
    .footer-end {
      width: 100%;
      padding-block: 24px;
      flex-wrap: wrap;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      border-top: 1px solid #9e9e9e4d;
      @media screen and (width <768px) {
        justify-content: center;
        text-align: center;
      }
      [data-theme="dark"] & {
        border-top: 1px solid #ffffff1c;
      }
    }
    .fc-text {
      color: $blue-color;
      [data-theme="dark"] & {
        color: $text-color-2;
      }
    }
  }
}
