@import "@/styles/variables.scss";
.features {
  :global {
    .features-wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      padding-top: 180px;
      // padding-bottom: 40px;

      .gift-1 {
        position: absolute;
      }
      .gift-1 {
        right: 0;
        top: 30px;
        svg {
          width: 70px;
          height: 70px;
        }
      }

      .features-content {
        .row {
          align-items: center;
          justify-content: space-between;
          @media (max-width: 768px) {
            h3 {
              text-align: center;
            }
          }
        }

        .character-img {
          max-width: 400px;
          height: 400px;
          margin: auto;
          z-index: 1;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:hover {
            .cloud-wrapper {
              opacity: 1;
              display: block;
            }
          }
          .cloud-wrapper {
            position: absolute;
            top: 0%;
            right: 0%;
            z-index: 999;
            transform: translate(-50%, -50%);
            opacity: 0;
            display: none;
            transition: all 0.5s ease;
            .character-info {
              text-align: center;
              .name {
                color: $blue-color;
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 5px;
              }
              .role {
                color: $orange-color;
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 5px;
              }
              .characterDescription {
                color: #313131;
                font-weight: 400;
                font-size: 16px;
              }
            }
          }
        }
        .text {
          h3 {
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 30px;
            color: #37e0d5;
            [data-theme="dark"] & {
              color: $white-color;
            }
          }
          .accordion-card {
            background-color: transparent;
            border: none;
            border-radius: 8px;
            margin-bottom: 15px;
            overflow: hidden;
            &:last-child {
              margin-bottom: 0;
            }
          }

          .accordion-header {
            padding: 0;
            border-bottom: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            h3 {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              line-clamp: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              color: $blue-color;
              font-size: 20px;
              margin: 0;
              padding: 0;
              [data-theme="dark"] & {
                color: $text-color-2;
              }
            }
            button {
              border: none;
              background-color: transparent !important;
              margin-bottom: 5px;
              width: 100%;
              font-weight: 600;
              text-decoration: none;
              display: flex;
              align-items: center;
              background: none;
              gap: 20px;
              .plus-icon {
                transform: rotateZ(0deg);
                background-color: $blue-color;
                font-size: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 36px;
                width: 36px;
                aspect-ratio: 1/1;
                margin-inline-start: auto;
                flex-shrink: 0;
              }
              cursor: pointer;

              &:focus {
                box-shadow: none;
              }
            }
            .order {
              $orderSize: 36px;
              background-color: #ffffff;
              width: $orderSize;
              aspect-ratio: 1/1;
              border-radius: $orderSize;
              display: flex;
              justify-content: center;
              align-items: center;
              [data-theme="dark"] & {
                background-color: #354454;
                color: #fff;
              }
            }
          }

          .accordion-icon {
            font-size: 20px;
            margin-left: 15px;
          }

          .accordion-body {
            margin-inline-start: 44px;
            padding: 20px;
            line-height: 1.6;
            .description {
              font-size: 16px;
              font-weight: 400;
              color: $blue-color;
              [data-theme="dark"] & {
                color: $text-color-2;
              }
            }
          }

          .accordion-toggle[aria-expanded="true"] {
            .accordion-icon {
              transform: rotate(45deg);
            }
          }
          .active-accordion {
            h3 {
              color: $blue-color;
            }
            .order {
              background-color: $text-color;

              [data-theme="dark"] & {
                background-color: $blue-color;
                color: #fff;
              }
            }
            .plus-icon {
              transform: rotateZ(45deg) !important;
              background-color: #e3e8eb !important;
              path {
                fill: $blue-color;
              }
            }
          }
        }
      }
    }
  }
}
